.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  .flex-row {
    display: flex;
    justify-content: space-between;
  }
  
  .flex-large {
    width: calc(50% - 10px);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #3f51b5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .muted-button {
    background-color: #7f8c8d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #3f51b5;
    color: #fff;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    border-bottom: 1px solid green;
  }
  
  tr:nth-child(even) {
    background-color: purple;
  }
  